.body{
    background-color: blanchedalmond;
}

.logo {
    display: block;
    margin: auto;
    cursor: pointer;

}
.button {
    position: center;
    align-self: center;
}

ion-card{
    margin-top: 160px;
    background-color: gray;
    width: auto;
}