<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>goodmoral</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
    </ion-card-header>
  
    <ion-card-content>
      <ion-buttons>
        <ion-menu-button routerLink="/home">
        <ion-icon name="return-up-back-outline"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>

</ion-content>
